.showcase-apartment-whale {
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.parallax-apartment {
  display: flex;
  height: 500px;
  overflow: hidden;

  border-bottom: #1f51ff solid 10px;
  border-top: #1f51ff solid 10px;
}

h2 {
  margin: 20px;
}

a {
  color: #1f51ff;
}

h3 {
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  max-width: 480px;
}

.list-and-links {
  display: flex;
  max-width: 590px;
}

label {
  margin: 20px;
  font-weight: bold;
}

.info-how {
  margin: 10px;
  font-size: 18px;
  max-width: 590px;
}

ul {
  margin-top: 20px;
  margin-left: 10px;
}
li {
  list-style: none;
  margin: 10px;
}

.list {
  width: 280px;
  margin-right: 10px;
}

.laptop-apartments__img {
  width: 700px;
}

@media only screen and (max-width: 590px) {
  .list-and-links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .links-container {
    margin-top: 30px;
  }

  .short-intro__h3 {
    max-width: 280px;
  }
}
