.banner-hero {
  height: 450px;
  width: 100%;
  background-color: #f5f5f5;
}

.hero-banner-container {
  height: 450px;
  width: 100%;

  position: relative;
}

.hero-404-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: red;
  color: white;
  overflow: hidden;
}

.contact-banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 160px;
  /*  background-color: rgba(31, 81, 255, 0.5); */
  background-color: rgba(237, 228, 228, 0.5);

  border: 2px solid white;
  border-radius: 25px;
  backdrop-filter: blur (30px);
  -webkit-backdrop-filter: blur(30px);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.contact__info {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.contact__btn {
  margin-top: 15px;
  background-color: white;
  height: 44px;
  width: 90px;
  margin-left: 35px;
  border-radius: 10px;
  border: solid #121212 2px;
  font-weight: bold;
  cursor: pointer;
}

.contact__name {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

.contact__title {
  text-align: center;
  margin-top: 5px;
}

.hero-quest {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 4px;
}

.red-box {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 85%;
  max-width: 310px;
  font-size: 18px;
  z-index: 9000;
  align-items: center;
  margin-right: 10px;
}

.red-icon {
  width: 40px;
  height: 40px;
  background-color: red;
}

.excellent-choice {
  margin-left: 10px;
}

@media only screen and (min-width: 590px) {
  .contact-banner {
    width: 260px;
    height: 260px;
  }

  .contact__btn {
    margin-top: 55px;
    height: 44px;
    width: 105px;
    margin-left: 75px;
    font-size: 16px;
  }

  .contact__name {
    margin-top: 35px;
    font-size: 24px;
    text-align: center;
  }

  .contact__title {
    margin-top: 25px;
    font-size: 20px;
  }
}
