.portfolio-weather-project {
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-weather-img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-bottom: solid 10px;
  border-top: black solid 10px;
}

.images-row-weather {
  background-color: #faf9f6;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.phone__db__img__left {
  max-width: 330px;
  width: 50%;

  transform: rotate(-0.02turn);
  overflow: hidden;
}
.phone__db__img {
  max-width: 330px;
  width: 50%;
}
